<!-- <div class="exception-body notfound bg-site">
    <div class="exception-panel">


        <br /><br /><br />
        <div class="grid card_div">


            <div class="col-12">

                <div>
                    <label style="float: left;margin-bottom: 5px;font-weight: 400;">Site Name</label>

                    <br />
                    <p-dropdown [(ngModel)]="siteSelection" [options]="siteDDFilter" placeholder="Select"
                        [showClear]="false"></p-dropdown>

                </div>

                <br />
                <div class="col-12" style="text-align: center;">
                    <button pButton pRipple type="button" label="Submit" [disabled]='siteSelection==null'
                        (click)="siteClick()" class="ui-button-info btnmr minw100 mr-2"></button>
                </div>

            </div>
        </div>
    </div>
</div> -->

<div class="login-body ng-tns-c35-0 ng-star-inserted">
    <div class="login-panel ng-tns-c35-0">
        <div class="login-panel-content ng-tns-c35-0">
            <div class="grid ng-tns-c35-0">
                <div class="col-6 ng-tns-c35-0"></div>
                <div class="col-6 ng-tns-c35-0">
                    <div class="login-container ng-tns-c35-0">
                        <div class="spacer2 ng-tns-c35-0"></div>
                 
                        <div class="grid ">

                            <div class="col-12">
                
                                <div>
                                    <label style="float: left;margin-bottom: 5px;font-weight: 400;">Site Name</label>
                
                                    <br />
                                    <p-dropdown [(ngModel)]="siteSelection" [options]="siteDDFilter" placeholder="Select"
                                        [showClear]="false"></p-dropdown>
                
                                </div>
                
                                <br />
                                <div class="col-12" style="text-align: center;">
                                    <button pButton pRipple type="button" label="Submit" [disabled]='siteSelection==null'
                                        (click)="siteClick()" class="ui-button-info btnmr minw100 mr-2"></button>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!---->
        </div>
    </div>
</div>