.accer {
    
    text-align: center;
    padding:6%; background: #fff;
    margin:50px; box-sizing: border-box;
}
.accer .accer-tile { font-size: 30px;
    color: #ff0000;
     }
.accer .accer-desc { font-size: 15px;  padding: 20px;}