<!-- <div class="accer">
            
    <div class="accer-tile">
        <span class="acctxt"><i class="fa fa-exclamation-triangle"></i></span><br>
        Sorry an error has occured</div>
        <div class="accer-desc">
            Unknown error occurred while processing your request.<br>
            Please Click above <b>Home</b> Link.
    </div>   
  
</div> -->


<div class="exception-body error">
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-error.png">
        </div>

        <div class="exception-detail">
            <h1>ERROR OCCURED</h1>
            <p>Unknown error occurred while processing your request.<br>Please contact administrator.</p>
            
             <!-- <h1>User is Inactive</h1>
            <p>Please contact administrator.</p> -->
            
        </div>
    </div>
</div>
