<!-- <div class="accer">
            
  <div class="accer-tile">
      <i class="fa fa-ban" aria-hidden="true" style="font-size:150px"></i><br>
      Access Denied</div>
      <div class="accer-desc">
          You do not have permission to view this page.<br>
          Please contact administrator.
      </div>   

</div> -->



<div class="exception-body accessdenied">
    <div class="exception-panel">
        <div class="exception-image" >
            <img  style="width: auto;" src="assets/layout/images/exception/icon-404.png">
        </div>

        <div class="exception-detail">
            <h1>ACCESS DENIED</h1>
            <p>You do not have access to this page.<br>
                Please contact administrator.</p>
            <p></p>
        </div>
    </div>
</div>