.accer {
    
    text-align: center;
    padding:6%; background: #fff;
    margin:50px; box-sizing: border-box;
}
.accer .accer-tile { font-size: 30px;
    color: #ff0000;
     }
.accer .accer-desc { font-size: 15px;  padding: 20px;}

.exception-detail1{
    height: 64px;
}

.exception-body{
    height: 100%;
    width: 100vw;
    /* border: 1px solid red; */
}
.exception-body .exception-panel{
    height: 30%;
    width: 100%;
    /* border: 1px solid green; */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exception-body .exception-panel .exception-detail{
    display: flex;
    flex-direction: column;
}

.exception-detail h1{
    text-align: center;
    margin-top: 15px;
}
.exception-detail p{
    text-align: center;
}