<!-- <div class="accer">
            
    <div class="accer-tile">
        <span class="acctxt">OOPS!</span><br>
        Page Not Found</div>
        <div class="accer-desc">
            We can't find the page you're looking for.<br>
            Please Click above <b>Home</b> Link.
        </div>   
  
  </div> -->


  <div class="exception-body notfound">
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-404.png">
        </div>

        <div class="exception-detail">
            <h1>PAGE NOT FOUND</h1>
            <p>Requested resource is not available.</p>
        </div>
    </div>
</div>
